In [1]:
#Importing Libraries
import torch
import random
import numpy as np
import os
from os import path
import pandas as pd
import matplotlib.pyplot as plt
import num2words
import re, string, timeit
import random
import glob
import transformers
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from itertools import combinations
%matplotlib inline

In [2]:
%cd ..

/Users/pablouribepizarro/Documents/GitHub/BERT-STEM

In [3]:
%cd BERT_STEM

/Users/pablouribepizarro/Documents/GitHub/BERT-STEM/BERT_STEM

In [4]:
from Encode import *

In [5]:
#Descargar BERT en español:
model = transformers.BertModel.from_pretrained("dccuchile/bert-base-spanish-wwm-uncased")

Some weights of the model checkpoint at dccuchile/bert-base-spanish-wwm-uncased were not used when initializing BertModel: ['cls.predictions.transform.LayerNorm.bias', 'cls.predictions.decoder.weight', 'cls.predictions.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.decoder.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertModel were not initialized from the model checkpoint at dccuchile/bert-base-spanish-wwm-uncased and are newly initialized: ['bert.pooler.dense.bias', 'bert.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [6]:
# Descargar tokenizer en español:
tokenizer = transformers.BertTokenizerFast.from_pretrained("dccuchile/bert-base-spanish-wwm-uncased",do_lower_case=True, add_special_tokens = False)

In [7]:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['hola como estan', 'alumnos queridos', 'vamos a hablar de matematicas', 'triangulos y ecuaciones']}
df = pd.DataFrame.from_dict(data)

In [8]:
sentence_encoder(df, model, tokenizer, column = 'col_2', encoding = 'sum')

,col_1,col_2,SUM_0,SUM_1,SUM_2,SUM_3,SUM_4,SUM_5,SUM_6,SUM_7,...,SUM_758,SUM_759,SUM_760,SUM_761,SUM_762,SUM_763,SUM_764,SUM_765,SUM_766,SUM_767
0,3,hola como estan,-1.700786,-1.760625,1.967040,-2.899785,2.762954,-1.017555,0.548983,-1.160371,...,-6.562262,3.154655,1.552447,-3.136322,-3.724271,-1.145931,4.428095,0.207791,5.901742,-1.490143
1,2,alumnos queridos,1.337676,-2.040652,3.120281,0.445535,1.834115,1.943148,3.511281,2.248597,...,-0.839623,-2.212891,-1.991792,-5.451099,-0.581947,-2.032886,1.143040,1.079169,2.019759,3.394125
2,1,vamos a hablar de matematicas,-0.593493,6.140261,7.451053,-2.412131,-2.278517,5.188994,-3.946751,-9.876625,...,-3.920628,0.816847,1.259655,-5.159519,-6.839560,4.979477,-2.389618,0.460332,-0.194753,1.463782
3,0,triangulos y ecuaciones,-5.324700,7.399441,-1.041485,-1.787187,-2.137773,8.548414,-0.932330,-3.983413,...,1.979664,5.550963,-6.560163,-5.587559,4.318997,0.838861,-4.067516,-4.077272,-0.930462,-1.397923

In [9]:
sentence_encoder(df, model, tokenizer, column = 'col_2', encoding = 'mean')

,col_1,col_2,MEAN_0,MEAN_1,MEAN_2,MEAN_3,MEAN_4,MEAN_5,MEAN_6,MEAN_7,...,MEAN_758,MEAN_759,MEAN_760,MEAN_761,MEAN_762,MEAN_763,MEAN_764,MEAN_765,MEAN_766,MEAN_767
0,3,hola como estan,-0.340157,-0.352125,0.393408,-0.579957,0.552591,-0.203511,0.109797,-0.232074,...,-1.312452,0.630931,0.310489,-0.627264,-0.744854,-0.229186,0.885619,0.041558,1.180349,-0.298029
1,2,alumnos queridos,0.334419,-0.510163,0.780070,0.111384,0.458529,0.485787,0.877820,0.562149,...,-0.209906,-0.553223,-0.497948,-1.362775,-0.145487,-0.508222,0.285760,0.269792,0.504940,0.848531
2,1,vamos a hablar de matematicas,-0.065944,0.682251,0.827895,-0.268015,-0.253169,0.576555,-0.438528,-1.097403,...,-0.435625,0.090761,0.139962,-0.573280,-0.759951,0.553275,-0.265513,0.051148,-0.021639,0.162642
3,0,triangulos y ecuaciones,-0.887450,1.233240,-0.173581,-0.297865,-0.356295,1.424736,-0.155388,-0.663902,...,0.329944,0.925161,-1.093361,-0.931260,0.719833,0.139810,-0.677919,-0.679545,-0.155077,-0.232987

In [10]:
sentence_encoder(df, model, tokenizer, column = 'col_2', encoding = 'cls')

,col_1,col_2,CLS_0,CLS_1,CLS_2,CLS_3,CLS_4,CLS_5,CLS_6,CLS_7,...,CLS_758,CLS_759,CLS_760,CLS_761,CLS_762,CLS_763,CLS_764,CLS_765,CLS_766,CLS_767
0,3,hola como estan,-0.623555,-0.228782,0.068313,-0.463840,0.263283,-0.143595,-0.190636,0.411440,...,0.359802,0.143196,0.329782,0.051943,-0.326051,0.419234,-0.258573,0.453699,0.690408,-0.358734
1,2,alumnos queridos,-0.571361,-0.069304,0.283723,-0.332523,-0.650137,-0.266045,0.199007,-0.115266,...,0.397423,0.461618,-0.195701,-0.027144,-0.736178,0.527063,-0.291052,0.371913,0.720935,-0.750015
2,1,vamos a hablar de matematicas,-0.084655,-0.337410,-0.597438,0.400642,0.370418,-0.704931,-0.445630,0.208762,...,-0.042428,0.465413,-0.128980,-0.602161,-0.523870,0.372280,0.267755,0.426674,-0.200698,-0.283687
3,0,triangulos y ecuaciones,-0.411937,-0.648845,-0.168843,0.678556,-0.334758,0.016455,-0.374424,0.269090,...,0.320870,0.691032,-0.677358,-0.137448,-0.237577,0.542274,0.234497,0.215411,0.811183,-0.628228